@using Microsoft.AspNetCore.Mvc;
@if (User.Identity.IsAuthenticated)
{


    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item right">
            <a class="nav-link text-dark" asp-area="default" asp-controller="Account" asp-action="Logout">Log out</a>
        </li>
        <li>
            @if (User.IsInRole("Admin"))
            {
                <a class="nav-link text-dark" asp-area="Admin" asp-controller="Home" asp-action="Index">Admining</a>
            }
        </li>
    </ul>

}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li class="nav-item right">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Register" method="get">Sign in</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" asp-controller="Account" asp-action="Login" method="get">Log In</a>
        </li>

    </ul>
}
