@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome Administrator</h1>
</div>
<br /><br /><br />
<div class="u-align-center">
    <div class="margin10">
        <form class="form" method="post" asp-area="Admin" asp-controller="Room" asp-action="AllRooms">
            <button class=" btn-primary btn" type="submit">All Rooms</button>
        </form>
    </div><br />
    <div class="margin10">
        <form class="form" method="post" asp-area="Admin" asp-controller="Category" asp-action="AllCategories">
            <button class="btn btn-primary" type="submit">All Categories</button>
        </form>
    </div><br />
    <div class="margin10">
        <form class="form" method="post" asp-area="Admin" asp-controller="User" asp-action="AllUsers">
            <button class="btn btn-primary" type="submit">All Users</button>
        </form>
    </div><br />
    <div class="margin10">
        <form class="form" method="post" asp-area="Admin" asp-controller="PriceForCategory" asp-action="AllPrices">
            <button class="btn btn-primary" type="submit">All Prices</button>
        </form>
    </div><br />
    <div class="margin10">
        <form class="form" method="post" asp-area="Admin" asp-controller="Record" asp-action="AllRecords">
            <button class="btn btn-primary" type="submit">All Records</button>
        </form>
    </div><br />
    <div class="margin10">
        <form class="form" method="post" asp-area="Admin" asp-controller="Benefit" asp-action="BenefitWithRecords">
            <button class=" btn-primary btn" type="submit">Bookkeping</button>
        </form>
    </div><br />
</div>
